@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

/** 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /** 구형 버전 */
  /* clip: rect(0 0 0 0); */
  /** 최신 버전 */
  clip-path: polygon(0 0, 0 0, 0 0);
}

/** 기본 스타일 */
/** 모든 요소의 첫 번째 자식 생성 후 상속 - before, 마지막 자식 생성 후 상속 - after */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/** 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/** 본문 스타일 */
body {
  /** em, rem 단위를 사용해보기 */
  color: #212121;
  font-size: 1.4rem;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  /* background-color: #ccc;
  background-image: url('./images/bg_flower.png'),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */
  background: url('./images/bg_flower.png') no-repeat 50% 0,
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0;
}

/** 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  /* width+padding+border+margin = content-box*/
  margin: 0 auto;
}

/** 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/** 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 1;
}

/** 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /** position 속성을 활용하여 .memeber 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /** (추천)transform 속성을 활용하여 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/** 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/** 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid currentColor;
  /* border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #212121; */
  background: #e85e2c linear-gradient(to bottom, #ef9126 0%, #e85e2c 35%, #e85e2c 70%, #ef9126 100%);
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

/* background-color → 배경색
background-image → 배경 이미지
background-repeat → 배경 이미지의 반복 여부
background-position → 배경 이미지 위치
background-attachment → 배경 이미지 고정 여부
background-size → 배경 이미지 크기 조정

background → 위 속성 전부 함축, 공백으로 값과 값 사이를 구분 */

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

/** 구체성 점수 → 10점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 19px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/** 구체성 점수 → 20점 */
.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: '';
  display: block;
  border-top: 2px solid #212121;
}

.sub-menu {
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

/** 왼쪽 기준으로 sub-menu를 정렬 */
.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

/** 오른쪽 기준으로 sub-menu를 정렬 */
.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  /** white-space는 공백 요소를 처리하는 속성 */
  /** nowrap : 공백을 여러개 넣어도 1개만 표시되고, 텍스트가 길어도 줄바꿈 되지 않고 같은 줄에 계속 표시 된다. */
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  content: '\e805';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  /** font-smoothing이란? 부드러운 폰트를 렌더링하기 위한 속성( 초기값 안티앨리어싱 )*/
  /** 안티앨리어싱 속성은 폰트가 부드럽게 보이게 한다. 하지만 선명함은 떨어질 수 있다. */
  -webkit-font-smoothing: antialiased;
  /** 아래 font-smoothing 속성은 firefox 브라우저에도 적용하기 위한 방법이다. */
  -moz-osx-font-smoothing: grayscale;
}
/**마우스를 올렸을 때 선택자로 가란 뜻 */
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e801';
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

/** 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: hsla(0, 0%, 0%, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 0;
  } */
  100% {
    /* opacity: 1; */
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeEffect 2000ms infinite alternate;
  /* animation-name: fadeEffect; */
  /* animation-duration: 2000ms; */
  /* animation-iteration-count: infinite; */
  /* alternate는 순방향 역방향  한 번씩*/
  /* animation-direction: alternate; */
}

.visual::before {
  background: url('./images/ani_flower_01.png') no-repeat 10% 40%,
    url('./images/ani_flower_03.png') no-repeat 70% 30%;
}

.visual::after {
  background: url('./images/ani_flower_02.png') no-repeat 40% 30%,
    url('./images/ani_flower_04.png') no-repeat 90% 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: moveEffect 600ms ease-in-out forwards;
  /* animation-name: moveEffect; */
  /* animation-duration: 400ms; */
  /* animation-timing-function: ease-in-out; */
  /* 마지막 결과로 멈추는 것 */
  /* animation-fill-mode: forwards; */
  /* inline-block과 z-index는 함께 쓸 수 없다. inline-block은 위에 떠있는 게 아니기 때문에 */
  /* display: inline-block; */
  /* relative와 absolute 둘다 써도 됨 */
  /* position: absolute; */
  position: relative;
  z-index: 1;
}

/** 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  border-radius: 15px 15px 0 0;
  /* overflow는 넘치는 영역 */
  padding: 0px 15px;
}

.group {
  margin: 30px 15px;
  float: left;
}

.group1 {
  width: 250px;
  /* relative는 좌표로 움직일 수 있는 상태 */
  /* position: relative; */
  /* left: -100px; */
}

.group2 {
  background-color: salmon;
  width: 380px;
}

.group3 {
  background-color: gold;
  width: 190px;
}

/** 로그인 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: #ef9126 radial-gradient(circle at right top, #ef9126, #e85e2c);
  border-radius: 5px;
  padding: 10px;
}

.login-title {
  color: #ff0;
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0px 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;
}

.user-email,
.user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}

.button-login {
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  background-color: #e85e2c;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 13px;
}

.user-email,
.user-pw {
  height: 25px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a::before {
  color: #e85e2c;
  content: '\e804';
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a {
  background: url('./images/validation_icon.png') no-repeat 25px 50%,
    #ccc linear-gradient(to bottom, #ccc 0%, #ccc 30%, #eee 90%, #eee 100%);
  padding: 8px 48px;
  border-radius: 20px;
  border: 1px solid #aaa;
  display: block;
}

/* .validation-list a::before {
  content: url('./images/validation_icon.png');
  vertical-align: middle;
  margin-right: 5px;
} */

.validation-list a:hover,
.validation-list a:focus {
  color: #f00;
}

/** 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/** 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner {
  height: 15vh;
  background: silver;
}
